@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

body {
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("/assets/pexels-maxyne-barcel-104022821.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: "Red Rose", sans-serif;
}

body header {
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    gap: 160px;
    font-family: "Red Rose", sans-serif;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

#logo {
    cursor: pointer;
}

nav div ul li a {
    color: #ffc233;
    font-size: 18px;
}

.orderbutton {
    background-color: #ff515f;
    font-size: 18px;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: "Red Rose", sans-serif;
}

.readbutton {
    background-color: #ff515f;
    font-size: 18px;
    color: white;
    padding: 12px 50px;
    border: none;
    cursor: pointer;
    font-family: "Red Rose", sans-serif;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.heroheading {
    color: #ffc233;
    font-size: 65px;
    text-align: center;
    font-family: "Dela Gothic One", "cursive";
    font-weight: 300;
}

.bottom {
    margin-left: 1100px;
}